{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-classes" // need to support the super option with async await.
  ]
}