<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="mobile-web-app-capable" />
        <meta name="HandheldFriendly" content="true">
        <meta content="telephone=no" name="format-detection" />

        <link rel="stylesheet" type="text/html" href="./plugin/css/bootstrap.min.css" >
        <script type="text/html" src="./plugin/js/jquery-1.9.1.js" ></script>
        <script type="text/html" src="./plugin/js/bootstrap.min.js" ></script>
		<title>React</title>

	</head>

	<body>

		<div id="app"></div>

        <% if (htmlWebpackPlugin.options.vendorsFilePath) { %>
        <script src="<%= htmlWebpackPlugin.options.vendorsFilePath %>"></script>
        <% } %>

        <% for (var i=0; i < htmlWebpackPlugin.files.js.length; i++ ) { %>
        <script <% if (i === 1) { %> async <% } %> src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
        <% } %>

	</body>

</html>
